{% extends 'base.html.twig' %}

{% block title %}Mon Panier-La boutique!
{% endblock %}

{% block content %}
<h1>Mon Panier</h1>
Retrouvez l'ensemble des pproduits que vous avez ajouté a votre panier.

{% if cart|length > 0 %}

	<table class="table mt-3">
		<thead>
			<tr>
				<th scope="col">Produits</th>
				<th scope="col">Nom</th>
				<th scope="col">Quantité</th>
				<th scope="col">Prix</th>
				<th scope="col">Total</th>
			</tr>
		</thead>
		<tbody>
			{% set total = null %}
			{% for product in cart %}
				<tr>
					<th>
						<img src="/uploads/{{product.product.illustration}}" alt="{{product.product.name}}" height="80px">
					</th>
					<td>{{product.product.name}}<br/>
						<small>{{product.product.subtitle}}
						</small>
					</td>
					<td>
						<a href=" {{ path('decrease-to-cart',{'id' : product.product.id})}}">
							<img src="{{ asset('assets/img/moin.svg') }}" height="18px" alt="moin">
						</a>
						x{{product.quantity}}
						<a href="{{ path('add_to_cart',{'id' : product.product.id})}}">
							<img src="{{ asset('assets/img/plus.svg') }}" height="18px" alt="plus">
						</a>
					</td>
					<td>{{(product.product.price / 100) | number_format(2, ',','.')  }}€</td>
					<td>{{(product.product.price * product.quantity / 100) | number_format(2, ',','.')  }}
						€</td>
					<td>
						<a href="{{ path('delete-to-cart', {'id' :product.product.id}) }}">
							<img src="{{ asset('assets/img/delete.svg') }}" height="18px" alt="Supprimer mon produit">
						</a>
					</td>
				</tr>
				{% set total = total + (product.product.price * product.quantity) %}
			{% endfor %}
		</tbody>
	</table>

	<div class="text-right mb-5">
		<b>
			Nombre de produit
		</b>
		{{cart| length}}<br/>
		<b>
			Total de mon panier</b>
		{{ ( total / 100) | number_format(2, ',','.') }}
		€
		<a href="{{path('order')}}" class="btn btn-success btn-block">
			Valider mon Panier
		</a>
	</div>
{% else %}
	<hr>
	<p>
		<b>
			Votre panier est vide .</b>
	</p>
</p {% endif %} {% endblock %}
